  
  .square{
    width: 23px;
    height: 23px;
    display: inline-block;
    margin: 0px;
    border: solid 1px black;
  }
  
  #boardOuter{
    height: 225px;
    width: 225px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  #boardInner{
    border: solid 0px black;
    width: 200px;
    height: 198px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
  }
  
